// Scaffolding and links
@bodyBackground: @veryDarkGray;
@txtColor: @white;

// Buttons
@btnBackground: @veryDarkGrayLightest;
@btnShadowDark: @veryDarkGrayUltraLight;
@btnShadowLight: @veryDarkGrayLighter;
@btnControlBackground: @white;
@btnArrow: @black;

// Gallery
@galleryBackground: @veryDarkGray;
@galleryHeaderBackground: @veryDarkGray;
@galleryHeaderBackgroundTablet: @veryDarkGrayMediumDarker;
@galleryHeaderAdBackground: @darkGray;
@galleryToggle: @veryDarkGrayMedium;
@galleryToggleDesktop: @veryDarkGrayLightLighter;
@galleryToggleCross: @white;
@galleryFooterBackground: @veryDarkGrayMediumDarker;
@galleryFooterBorder: @veryDarkGrayLightestDarker;
@galleryFooterBtnBackground: @veryDarkGrayLightest;

// Slideshow
@counterBackground: @veryDarkGrayMedium;

//Social
@socialBackground: @black;
@socialPinterestLightBackground: @strongRed;
@socialPinterestDarkBackground: @strongRedDarker;
@socialFacebookLightBackground: @darkModerateBlue;
@socialFacebookDarkBackground: @darkModerateBlueDarker;
@socialGoogleLightBackground: @brightRed;
@socialGoogleDarkBackground: @brightRedDarker;
@socialTwitterLightBackground: @pureBlue;
@socialTwitterDarkBackground: @pureBlueDarker;
