.gallery {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @galleryBackground;

  &--open {
    display: block;
  }

  &__header {
    background-color: @galleryHeaderBackground;

    @media @tabletOnly {
      position: relative;
      background-color: @galleryHeaderBackgroundTablet;
    }
  }

  &__header-ad {
    @media @mobileOnly {
      display: none;
    }

    @media @tablet {
      font-size: 14px;
      line-height: 26px;
      width: 728px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
      text-transform: uppercase;
      background-color: @galleryHeaderAdBackground;
    }
  }

  &__wrapper {
    position: relative;

    @media @mobileOnly {
      height: calc(~"100% - " @galleryFooterHeightMobile);
    }

    @media @tabletOnly {
      height: calc(~"100% - " (@galleryHeaderHeight + @galleryFooterHeightTablet));
    }

    @media @mobileAndTablet {
      z-index: -1;
    }

    @media @desktop {
      height: calc(~"100% - " (@galleryHeaderHeight + @galleryFooterHeightDesktop));
      display: flex;
    }
  }

  &__toggle {
    display: block;
    position: absolute;

    @media @mobileOnly {
      top: 0;
      width: @galleryToggleSizeMobile;
      height: @galleryToggleSizeMobile;
    }

    @media @tabletOnly {
      bottom: -1*@galleryToggleSizeTablet;
      width: @galleryToggleSizeTablet;
      height: @galleryToggleSizeTablet;
    }

    @media @mobileAndTablet {
      z-index: 2;
      right: 0;
      background-color: fade(@galleryToggleBackground, 60%);
    }

    @media @desktop {
      background-color: @galleryToggleBackgroundDesktop;
      right: 16px;
      top: 16px;
      width: @galleryToggleSizeDesktop;
      height: @galleryToggleSizeDesktop;
    }

    &::before {
      position: absolute;
      display: block;
      height: 1px;
      content: "";
      transform: rotateZ(45deg);
      background-color: @galleryToggleCross;

      @media @mobileOnly {
        top: @galleryToggleSizeMobile/2;
        right: 15px;
        width: 14px;
      }

      @media @tabletOnly {
        top: @galleryToggleSizeTablet/2;
        right: 28px;
        width: 29px;
      }

      @media @desktop {
        top: @galleryToggleSizeDesktop/2;
        right: 12px;
        width: 29px;
      }
    }

    &::after {
      position: absolute;
      display: block;

      height: 1px;
      content: "";
      transform: rotateZ(-45deg);
      background-color: @galleryToggleCross;

      @media @mobileOnly {
        top: @galleryToggleSizeMobile/2;
        right: 15px;
        width: 14px;
      }

      @media @tabletOnly {
        top: @galleryToggleSizeTablet/2;
        right: 28px;
        width: 29px;
      }

      @media @desktop {
        top: @galleryToggleSizeDesktop/2;
        right: 12px;
        width: 29px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: @galleryFooterBackground;
    border-top: 1px solid @galleryFooterBorderColor;

    @media @mobileOnly {
      min-width: @minWidth;
      height: @galleryFooterHeightMobile;
      padding-right: 13px;
      padding-left: 13px;
      box-shadow: 0 -5px 20px 5px black;
    }

    @media @tabletOnly {
      height: @galleryFooterHeightTablet;
      padding-right: 21px;
      padding-left: 21px;
      box-shadow: 0 -10px 40px 10px black;
    }

    @media @desktop {
      height: @galleryFooterHeightDesktop;
      padding-right: 23px;
      padding-left: 23px;
    }
  }

  &__logo {
    margin-right: auto;

    @media @mobileOnly {
      width: 75px;
    }

    @media @tabletOnly {
      width: 150px;
    }

    @media @desktop {
      width: 93px;
    }
  }

  &__logo-icon {
    display: block;
    width: 100%;
    height: auto;
    fill: @galleryLogoFill;
  }

  &__container {
    @media @mobileAndTablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media @desktop {
      display: none;
    }

    &:last-child {
      @media @mobileOnly {
        margin-left: 21px;
      }

      @media @tabletOnly {
        margin-left: 40px;
      }
    }
  }

  &__button {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-label {
    display: block;
    text-transform: uppercase;

    @media @mobileOnly {
      font-size: 10px;
    }

    @media @tabletOnly {
      font-size: 20px;
    }
  }

  &__icon-wrapper {
    display: block;

    @media @mobileOnly {
      width: 31px;
      height: 31px;
      margin-left: 8px;
      box-shadow: inset 2px 2px 2px 1px fade(@galleryFooterBtnShadowColor, 10%);
    }

    @media @tabletOnly {
      width: 62px;
      height: 62px;
      margin-left: 15px;
      box-shadow: inset 2px 2px 3px 1px fade(@galleryFooterBtnShadowColor, 10%);
    }

    @media @mobileAndTablet {
      position: relative;
      border-radius: 50%;
      background-color: @galleryFooterBtnBackground;
    }

    &--active {

      @media @mobileOnly {
        box-shadow: inset 0 2px 3px 1px fade(@galleryFooterBtnShadowActiveColor, 40%);
      }

      @media @tabletOnly {
        box-shadow: inset 0 3px 3px 1px fade(@galleryFooterBtnShadowActiveColor, 40%);
      }

      @media @mobileAndTablet {
        background-color: @galleryFooterBtnBackgroundActive;
      }
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: @btnIconFill;
    height: auto;

    &--share {
      @media @mobileOnly {
        width: 9px;
      }
    }

    &--thumb {
      @media @mobileOnly {
        width: 12px;
      }
    }
  }
}
