.main {
  &__wrapper {
    max-width: 960px;
    min-width: @minWidth;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @media @mobileOnly {
      padding-right: @mobileSideOffset;
      padding-left: @mobileSideOffset;
    }

    @media @tablet {
      padding-right: @tabletSideOffset;
      padding-left: @tabletSideOffset;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 42px;
    text-align: center;
  }

  &__content {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__button {
    font-size: 16px;
    line-height: 22px;
    display: block;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    background-color: @btnBackground;
    border-radius: 25px;
    box-shadow: inset 2px 2px 1px @btnShadowDark,
    inset -2px -2px 1px @btnShadowLight;
  }
}
