.social {
  min-width: @minWidth;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  &--open {
    position: absolute;
    display: flex;
    background-color: fade(@socialBackground, 60%);

    @media @mobileAndTablet {
      bottom: @galleryFooterHeightMobile;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: @socialHeightMobile;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: block;
    background-repeat: no-repeat;

    @media @mobileAndTablet {
      width: 73px;
      height: 73px;
    }

    &--pinterest {
      background-image: linear-gradient(135deg, @socialPinterestLightBackground, @socialPinterestLightBackground 50%, @socialPinterestDarkBackground 50%);
    }

    &--facebook {
      background-image: linear-gradient(135deg, @socialFacebookLightBackground, @socialFacebookLightBackground 50%, @socialFacebookDarkBackground 50%);
    }

    &--google {
      background-image: linear-gradient(135deg, @socialGoogleLightBackground, @socialGoogleLightBackground 50%, @socialGoogleDarkBackground 50%);
    }

    &--twitter {
      background-color: @socialTwitterLightBackground;
      background-image: linear-gradient(135deg, @socialTwitterLightBackground, @socialTwitterLightBackground 50%, @socialTwitterDarkBackground 50%);
    }
  }

  &__icon {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: @socialIconFill;
  }
}
